body {
    background-color: beige;
}
#cars-list{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
}
.card{
    margin: 15px;
    align-items: center;
}

.card-img-top{
    width: 200px;
    height: 200px;
}